body {
    padding: 0;
    margin: 0;
    background: #131617;
    overflow-x: hidden;
}

.probootstrap-navbar .navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 20px;
    text-transform: uppercase;
    /* background: url(../img/logo1.png) left 10%; */
    top: 0px;
    position: relative;
    width: 160px;
    height: 80px;
    /* text-indent: -999999px; */
    -webkit-transition: .2s all;
    transition: .2s all;
}

.main-section {
    float: left;
    width: 100%;
    display: block;
    background: #0A192F;
    height: auto;
}

.logo-image {
    height: 180% !important;
    display: inline;
}